# Eclipse
*.pydevproject
.project
.settings
bin/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# Gradle
.gradle/
build/

# Forge / NeoForge MDK
run/
out/
logs/
!gradle/wrapper/gradle-wrapper.jar

# OS files
Thumbs.db
.DS_Store
ehthumbs.db

# Local config (contains local paths)
gradle.properties.local
